


section{
    padding-top: 10px;
}
.col{
    float: left;
    
}
.col2a{
    float: right;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
   
}
#col2{
    width: 260px;
}
#inp{
    width: 260px;
}
td, th{
    border: 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
   
}
.inpus2{
    height: 40px;
}
